
/* GENERAL */

body {
    max-width: 1200px; /* Ancho máximo */
    margin: 0 auto; /* Para centrarlo horizontalmente */
    width: 100%;
    font-family: "Lato";
}
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    color:#010828;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.5em;
    color:#010828;
    margin-bottom: 0.5em;
    text-align: center;
}
p {
    font-size: 1.2em;
    color: #9194a1;
    margin-bottom: 2em;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    p {
        text-align: center;
    }
}

/* MENÚ PARA DESKTOP*/
/* Contenedor principal */
.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
}
/* Logo */
.logo img {
    height: 25px;
}
/* Navegación */
.menu-nav {
    flex: 1; /* Permite que el nav ocupe el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la izquierda */
}
.menu-all {
    display: flex;
    margin: 0;
    padding: 0;
}
.menu-all li {
    margin: 0 20px; /* Espacio entre los elementos del menú */
}
.menu-opt a {
    color: #333333;
}
.menu-opt a:hover{
    color: #c10a18;
}
/* Botón de Login */
.login button {
    background-color: #c10a18;
    border: 2px solid #c10a18;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}
.login button:hover {
    background-color: #f8f9fA;
    border: 2px solid #c10a18;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 5px;
}
.login button a {
    color: #f8f9fA;
    text-decoration: none;
}
.login button:hover a {
    color: #c10a18;
    text-decoration: none;
}
.mobile-menu {
    display: none; /* Ocultar en pantallas grandes */
}

/* MENÚ PARA MOVILES */

@media (max-width: 900px) {
    .logo img {
        height: 30px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 40px;
    }
}

/* BANNER */

.container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px; /* Añade espacio alrededor del contenedor */
    max-width: 1200px;
    margin: 0 auto;
}

.banner-info {
    flex: 1;
    margin-right: 40px;
}

.banner-text {
    margin-bottom: 20px;
}

.banner-text h1 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 0.5em;
}

.banner-text p {
    max-width: 500px;
    line-height: 1.5;
}

.banner-btn {
    display: flex;
    gap: 15px;
}

.btn-chrome, .btn-firefox {
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn-chrome {
    background-color: #5167e2;
    color: white;
    border: 2px solid #5167e2;
}

.btn-chrome:hover {
    background-color: #fff;
    color: #5167e2;
}

.btn-firefox {
    background-color: #ededed;
    color: #777777;
    border: 2px solid #ededed;
}

.btn-firefox:hover {
    background-color: #f8f9fA;
    border: 2px solid #777777;
}

.banner-image {
    flex: 1;
    max-width: 500px;
    width: 100%;
}

.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* BANNER PARA MOVILES */

@media (max-width: 900px) {
    .container-banner {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: 60px 50px; /* Añade espacio alrededor del contenedor */
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-btn {
        justify-content: center;
        display: flex;
        gap: 15px;
    }
    .banner-image img {
        width: 100%;
        height: auto;
        display: block;
    }
}

/* MAIN -  ARTÍCULOS */

.container-articles {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.resume p {
    max-width: 500px;
    margin: 20px auto 50px;
}

/* Navegación */
.articles-nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
}

.articles-nav li {
    margin: 0 1rem;
}

.articles-nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #777777;
    padding-bottom: 0.5rem;
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.articles-nav a:hover {
    color: #fa5757;
}
.articles-nav a.active-tab {
    border-bottom: 3px solid #fa5757;
    border-color: #fa5757;
}

/* Artículos */
.article {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: 2rem;
    text-align: left;
}

.article.active {
    display: flex;
}

.article img {
    width: 100%;
    max-width: 500px;
}

.article h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.article p {
    max-width: 400px;
    margin-bottom: 1rem;
}

/* Botón */
.article a {
    background-color: #5167e2;
    color: white;
    border: 2px solid #5167e2;
    padding: 0.75rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 500;
}

.article a:hover {
    background-color: #fff;
    color: #5167e2;
}

/* ARTICULOS PARA MOVILES */

@media (max-width: 900px) {
    .article {
        flex-direction: column;
        text-align: center;
    }

    .article img {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .article p {
        margin: 0 auto;
    }
}