:root {
    /* COLORS */
    --primary-color: #5265E1;
    --primary-light: #e7eafb;
    --secondary-color: #FA5959;
    --secondary-light: #f8e3e3;
    --background-color: #f4f4f9;
    --full-white: #ffffff;
    --light-gray: #9194a1;
    --super-light-gray: #ededed;
    --dark-gray: #777777;
    --dark-red: #c10a18;
    --dark-blue: #242946;
    --dark-blue-transparent: rgba(71, 73, 85, 0.95);
    --transparent-grey: rgba(255, 255, 255, 0.15);

    /* TYPO */
    --font-family-base: "Lato", sans-serif;
    --font-size-xs: 14px;
    --font-size-sm: 16px;
    --font-size-md: 18px;
    --font-size-lg: 20px;
    --font-size-xl: 24px;
    --font-size-xxl: 38px;

    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;

    /* SPACING */
    --max-width: 1200px;
    
    --spacing-none: 0px;
    --spacing-xs: 10px;
    --spacing-sm: 20px;
    --spacing-md: 30px;
    --spacing-lg: 40px;
    --spacing-xl: 50px;
    --spacing-xxl: 60px;

    /* BUTTONS */
    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    /* SHADOWS */
    --shadow-sm: 0 2px 4px rgba(82, 101, 225, 0.1);
    --shadow-md: 0 4px 8px rgba(82, 101, 225, 0.1);
    --shadow-lg: 0 8px 16px rgba(82, 101, 225, 0.1);
}

/* GENERAL */

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-sm);
    color: var(--light-gray);
    background-color: var(--background-color);
    max-width: var(--max-width); /* Ancho máximo */
    margin: 0 auto; /* Para centrarlo horizontalmente */
    width: 100%;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1 {
    font-size: var(--font-size-xxl);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
}
h2 {
    font-size: var(--font-size-xl);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
    text-align: center;
}
h3 {
    font-size: var(--font-size-lg);
    color: var(--dark-blue);
    margin-bottom: var(--spacing-md);
    text-align: center;
}
h4 {
    font-size: var(--font-size-md);
    color: var(--dark-blue);
    margin-top: var(--spacing-xs);
    margin-bottom: var(--spacing-xs);
    text-align: center;
}
p {
    font-size: var(--font-size-md);
    color: var(--light-gray);
    margin-bottom: var(--spacing-lg);
    line-height: 25px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    p {
        text-align: center;
    }
}

/* MENÚ PARA DESKTOP*/
/* Contenedor principal */
.container-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-md) var(--spacing-lg);
}
/* Logo */
.logo img {
    height: 25px;
}
/* Navegación */
.menu-nav {
    flex: 1; /* Permite que el nav ocupe el espacio disponible */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la izquierda */
}
.menu-all {
    display: flex;
    margin: 0;
    padding: var(--spacing-none);
}
.menu-all li {
    margin: 0 var( --spacing-md); /* Espacio entre los elementos del menú */
}
.menu-opt a {
    color: var(--dark-gray);
}
.menu-opt a:hover{
    color: var(--dark-red);
}

/* Botón de Interacción */
.btn-interaction{
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: 2px solid var(--secondary-color);
    padding: var(--spacing-xs) var(--spacing-md);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}
.btn-interaction:hover {
    background-color: var(--background-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    cursor: pointer;
    border-radius: var(--border-radius-sm);
}
.mobile-menu {
    display: none; /* Ocultar en pantallas grandes */
}

/* MENÚ PARA MOVILES */

@media (max-width: 900px) {
    .logo img {
        height: 30px;
    }

    .desktop-menu {
        display: none;
    }

    .mobile-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--spacing-md) var(--spacing-lg);
    }
}

/* BANNER */

.container-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-xxl); /* Añade espacio alrededor del contenedor */
    margin: 0 auto;
}

.banner-info {
    flex: 1;
    margin-right: 40px;
}

.banner-text {
    margin-bottom: 20px;
}

.banner-text h1 {
    color: #333;
    margin-bottom: 10px;
}

.banner-text p {
    max-width: 500px;
}

.banner-btn {
    display: flex;
    gap: 15px;
}

.btn-chrome, .btn-firefox {
    text-decoration: none;
    border-radius: var(--border-radius-sm);
    padding: var(--spacing-xs) var(--spacing-sm); 
}

.btn-chrome {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
}

.btn-chrome:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

.btn-firefox {
    background-color: var(--super-light-gray);
    color: var(--dark-gray);
    border: 2px solid var(--super-light-gray);
}

.btn-firefox:hover {
    background-color: var(--background-color);
    border: 2px solid var(--dark-gray);
}

.container-banner {
    position: relative;
}

.banner-decorative-content {
    position: absolute;
    width: 35%;
    height: 65%;
    background-color: var(--primary-color);
    border-radius: 40% 0 0 40%;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.banner-image {
    flex: 1;
    max-width: 500px;
    width: 100%;
}

.banner-image img {
    width: 100%;
    height: auto;
    display: block;
}

/* BANNER PARA TABLETS */

@media (max-width: 900px) {
    .container-banner {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        padding: var(--spacing-xxl);
        max-width: 1200px;
        margin: 0 auto;
    }
    .banner-decorative-content {
        position: absolute;
        width: 65%;
        height: 35%;
        background-color: var(--primary-color);
        border-radius: 0 0 0 40%;
        right: 0;
        bottom: 45%;
        z-index: -1;
    }
    .banner-btn {
        justify-content: center;
        display: flex;
        gap: 15px;
    }
    .banner-image img {
        width: 100%;
        height: auto;
        display: block;
    }
}


/* MAIN -  ARTÍCULOS */

.container-articles {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-xxl);
    text-align: center;
}

.article-decorative-content {
    position: absolute;
    width: 40%;
    height: 40%;
    background-color: var(--primary-color);
    border-radius: 0 50% 50% 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.article-resume p, .ads-resume p, .faq-resume {
    max-width: 500px;
    text-align: center;
}

/* Navegación */
.articles-nav ul {
    display: flex;
    justify-content: center;
    padding: var(--spacing-none);
    border-bottom: 1px solid var(--super-light-gray);
    margin-bottom: var(--spacing-lg);
}

.articles-nav li {
    margin: 0 var(--spacing-lg);
}

.articles-nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--dark-gray);
    padding-bottom: var(--spacing-xs);
    display: inline-block;
    border-bottom: 3px solid transparent;
}

.articles-nav a:hover {
    color: var(--secondary-color);
}
.articles-nav a.active-tab {
    border-bottom: 3px solid var(--secondary-color);
    border-color: var(--secondary-color);
}

/* Artículos */
.article {
    display: none;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    gap: var(--spacing-lg);
    text-align: left;
}

.article.active {
    display: flex;
}

.article img {
    width: 100%;
    max-width: 500px;
}

.article h2 {
    font-size: var(--font-size-xl);
    margin-bottom: var(--spacing-sm);
    text-align: left;
}

.article p {
    max-width: 500px;
}

/* Botón */
.article a {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 2px solid var(--primary-color);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-sm);
    text-decoration: none;
    font-weight: 500;
}

.article a:hover {
    background-color: var(--background-color);
    color: var(--primary-color);
}

/* ARTICULOS PARA MOVILES */

@media (max-width: 900px) {
    .article {
        flex-direction: column;
        text-align: center;
    }

    .article img {
        width: 80%;
        margin-bottom: 1.5rem;
    }

    .article p {
        margin: 0 auto;
    }
}

/* ADS */

.container-ads {
    display: flex;
    gap: var(--spacing-sm);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: var(--spacing-xxl); 
    margin: 0 auto;
}

.browsers {
    display: flex;
    gap: var(--spacing-xxl);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.browser-chrome {
    margin-top: 0;
}

.browser-firefox {
    margin-top: 5%;
}

.browser-opera {
    margin-top: 10%;
}

.browser-chrome, .browser-firefox, .browser-opera {
    background-color: var(--background-color);
    border: 1px solid var(--super-light-gray);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
    text-align: center;
    box-shadow: var(--shadow-lg);
}

.browser-chrome h3, .browser-firefox h3, .browser-opera h3 {
    margin-bottom: var(--spacing-xs);
}

.browser-chrome p, .browser-firefox p, .browser-opera p {
    margin-top: var(--spacing-none);
}

.ads-divider {
    width: 100%;
    
}

.browser-chrome img, .browser-firefox img, .browser-opera img {
    width: 100px;
    height: auto;
    margin-bottom: var(--spacing-sm);
}

.ads-btn {
    background-color: var(--primary-color);
    color: var(--full-white);
    border: 2px solid var(--primary-color);
    padding: var(--spacing-xs) var(--spacing-md);
    border-radius: var(--border-radius-sm);
    font-weight: var(--font-weight-medium);
} 

.ads-btn:hover {
    background-color: var(--primary-light);
    color: var(--primary-color);
    font-weight: var(--font-weight-medium);
}

/* FAQ */

.container-faq {
    display: flex;
    gap: var(--spacing-sm);
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-xxl); 
    margin: 0 auto;
}

/* JOIN */
.container-join {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-lg); 
    margin: 0 auto;
    background-color: var(--primary-color);
}